*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #1F1F1F;
    height: 100vh;
}
.addTask{
    display: flex;
    margin: 5px;
}

/* common */
.bg-white{
    background-color: white;
}

.br-5{
    border-radius: 5px;
}

.width-80{
    width: 80%;
}